body {
    background-color: #90b7d0;
    height: 100vh;
}

/* form section */
.bg {
    background-color: white;
    max-width: 1200px;
    margin: 7rem auto 3rem auto;
    padding: 2rem;
}

.button-proceed {
    background-color: #90b7d0;
}

/* Ticket */
.ticket-bg {
    background-color: white;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 2rem;
    height: 400px;
    text-align: center;
}

.ticket div {
    padding-top: 2rem;
}


.ticket {
    height: 100%;
}

.ticket span {
    font-size: 1.2rem;
}

.name-passenger {
    border-right: 1px solid black;
    height: 80%;
}

select {
    height: 30px;
}

label {
    font-size: 1.2rem;
    padding-right: 1rem;
}

.ticket-bg {
    display: none;
}

.row-color {
    height: 70px;
    width: 100%;
    background-color: #477896;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

/* Try */
.display-block {
    display: block;
}